body {
  color: #fef8e7;
  background:#777;
}

h1, h4 {
  color: #fef8e7;
}

.card {
  background: #38b5c1;
  box-shadow: 4px 3px 4px rgba(52, 58, 64, 0.8);
}

.form-control {
  border: #999 solid 1px;
}

#fact {
  display: none;
}